body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  margin: auto;
  text-align: center;
}

#container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2995dd;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow: scroll;
}

li {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Initiate item slightly up from its final position and invisible */
li.new-item {
  transform: translateY(-20px);
  opacity: 0;
}

li.new-item.show {
  transform: translateY(0);
  opacity: 1;
}

button {
  background-color: #2995dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #1e7bbf;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  box-shadow: 0 0 0 3px rgba(16, 57, 83, 0.836);
}
